version: '3.8'

services:
  kafka:
    image: apache/kafka:3.7.0
    hostname: kafka
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      # ▼▼▼ [핵심 수정 부분] ▼▼▼
      # 리스너를 2개 만듭니다 (EXTERNAL: 외부용, INTERNAL: 내부용)
      KAFKA_LISTENERS: PLAINTEXT://:9092, CONTROLLER://:9093, INTERNAL://:29092

      # 외부(Host)에는 localhost를, 내부(Docker)에는 kafka:29092를 알려줍니다.
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092, INTERNAL://kafka:29092

      # 보안 프로토콜 매핑
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT, PLAINTEXT:PLAINTEXT, INTERNAL:PLAINTEXT

      # 도커 내부끼리 통신할 때는 INTERNAL 리스너를 쓴다고 설정
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      # ▲▲▲ [수정 끝] ▲▲▲

      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_LOG_DIRS: /var/lib/kafka/data

    volumes:
      - kafka_data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - kafka
    ports:
      - "8090:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      # ▼▼▼ [중요] Kafka UI는 이제 내부용 포트(29092)로 접속합니다 ▼▼▼
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092


  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      # 아까 만든 설정 파일을 컨테이너 안으로 넣어줍니다.
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    extra_hosts: #나중에 서버 주소로 바꾸기
      - "host.docker.internal:host-gateway" # 도커가 내 맥북을 찾을 수 있게 해줌

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./pg_data:/var/lib/postgresql/data
    restart: always

volumes:
  kafka_data: