services:
  db:
    image: postgres:latest
    container_name: only4-postgres
    environment:
      POSTGRES_DB: only4_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
